{extend name="web@public/content"}

{block name="content"}

<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray"> <span class="l"> <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a class="btn btn-primary radius" href="javascript:;" onclick="admin_role_add('添加角色','/web/Config/add.html','800')"><i class="Hui-iconfont">&#xe600;</i> 添加角色</a> </span> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
    <table class="table table-border table-bordered table-hover table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="6">角色管理</th>
        </tr>
        <tr class="text-c">
            <th width="25"><input type="checkbox" value="" name=""></th>
            <th width="40">ID</th>
            <th width="200">角色名</th>
            <th>code</th>
            <th width="300">是否使用</th>
            <th width="300">今日次数</th>
            <th width="70">操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo }

        <tr class="text-c">
            <td><input type="checkbox" value="" name=""></td>
            <td>{$vo.id}</td>
            <td>{$vo.name}</td>
            <td><a href="#">{$vo.code}</a></td>
            <td>{$vo.isused}</td>
            <td>{$vo.times}</td>
            <td class="f-14"><a title="编辑" href="javascript:;" onclick="admin_role_edit('角色编辑','/web/Config/edit.html?id={$vo.id}','{$vo.id}')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="admin_role_del('{$vo.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
        </tr>

        {/foreach}

        </tbody>
    </table>
</div>
<script type="text/javascript">
    /*-支付宝数值-添加*/
function admin_role_add(title,url,w,h){

layer_show(title,url,w,h);

}

    /*-支付宝数值-添加*/
    function admin_role_edit(title,url,id){

        layer_show(title,url,500,500);

    }

    /*管理员-角色-删除*/
    function admin_role_del(id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                type: 'get',
                url: '/web/Config/del.html?id='+id,

                success: function(data){
                   // $(obj).parents("tr").remove();
                    console.log(data);
                    location.reload();
                    layer.msg('已删除!',{icon:1,time:1000});
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }
</script>
{/block}